
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: whitesmoke; 
  /*background: linear-gradient(to right, #614385, #516395);*/
}

.calculator {
	background: white;
	width: 400px; /*set width to 400px so wouldn't be able to expend*/
 	border-radius: 12px;
	box-shadow: 0 5px 30px -5px rgba(0,0,0,0.6);
}

.calculator-display {
	background: black;
	color: white;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border-radius: 10px 10px 0 0;
}

.calculator-display h1 {
	margin: 0;
	padding: 25px;
	font-size: 45px;
	font-family: 'Lucida Console', sans-serif;
	font-weight: 100;
	overflow-x: auto; /*will give scroll bar if necesery*/
}

/*custom scroll bar*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*Buttons*/

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
}

button {
	min-height: 50px;
	font-size: 20px;
	font-weight: 100;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background: rgb(199, 199, 199);
}

button:hover {
	filter: brightness(110%);
}

/*looks like button is pressed*/
button:active {
	transform: translateY(1px);
}

button:focus {
	outline: none;
}

.operator {
	background: grey;
	color: white;
	font-size: 30px;
}

.clear {
	background: rgb(255, 40, 40);
	color: white;
}

.clear:hover {
	filter: brightness(90%);
}

.equal-sign {
	grid-column: -2;
	grid-row: 2 / span 4;
	background: rgb(13, 206, 87);
}

.delete {
	grid-column-start: 4;
	grid-column-end: 5;
	background: grey;
	color: white;
	font-size: 20px;
}

/* The switch - the box around the slider */
.switch {
  position: fixed;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:after {
	/*position: fixed;*/
	content: "IOS";
	font-size: 2px;
	right: 0;
  bottom: 4px;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*Media Query: large smart phone*/
@media screen and (max-width: 600px) {
	.calculator {
		width: 95%;
	}
}